<library path="lib/librqt_mygui">
  <class name="rqt_mygui/MyPlugin" type="rqt_mygui::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      C++ GUI plugin.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>C++ Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
